@CHARSET "ISO-8859-1";

ul.dndTree ul, ul.dndTree li {
	margin: 0;
	padding: 0;
}

div.text-holder {
	border: 1px solid #eee;
	background: #ddd; 
	width: 100%;
	position: relative;
}

.tree-item {
	background: #eee; 
	width: 100%;
}

img.expandImage {
	cursor: pointer;	
}

div.qam-expander {
	cursor: pointer;	
	background-image: none;
	background-repeat:	no-repeat;
	background-position: right;
	margin-right: 2px;
	height: 16px;
	float: left;
}

div.qam-expander[children="open"] {
	background-image: url('lib/close_menu.png');	
}

div.qam-expander[children="closed"] {
	background-image: url('lib/open_menu.png');	
}
/*
div.qam-expander[children="closed"] + ul {
	display: none;	
}
*/

span.item-title {
	padding: 1px 20px 1px 1px;
}

.item-options {
	position: absolute; 
	right: 8px;
	width: 200px;
}

.item-options div {
  margin: 2px;
  border: 1px solid #eee;
  float: right;
	cursor: pointer;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
}

.item-options img:hover {
  border: 1px solid green;
}

.item-option-edit {
	background-image: url('lib/edit.png');	
}
.item-option-clone {
	background-image: url('lib/clone.png');	
}
.item-option-reset {
	background-image: url('lib/reset.png');	
}

.item-option-locked {
	background-image: url('lib/locked.png');	
}

div[enabled="on"] div.item-option-enabled {
	background-image: url('lib/visible.png');	
}
div[enabled="off"] div.item-option-enabled {
	background-image: url('lib/hidden.png');	
}

div[expanded="on"] div.item-option-expanded {
	background-image: url('lib/expanded.png');	
}
div[expanded="off"] div.item-option-expanded {
	background-image: url('lib/collapsed.png');	
}

div[deleted="off"] div.item-option-delete {
	background-image: url('lib/delete.png');	
}
div[enabled="off"] a {
	color: #888;	/* grey it out a bit */
	font-style: italic;
}

div[deleted="on"] div.item-option-delete {
	background-image: url('lib/undelete.png');	
}
div[deleted="on"] a, div[deleted="on"] + ul a {
	color: red;	/* grey it out a bit */
	text-decoration: line-through;
}


#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
/*	opacity: 0.4; */
	background: black;
	z-index: 9;	
}

#dialog {
	border: 1px solid black;
	background: white;
	position: fixed;
	opacity: 1.0;
	z-index: 10;	
	color: black;
	padding: 0.5em;
}

#dialog_title {
	background: #222;
	color: white;
	padding: 0.2em;
	margin: 0.2em;
}

#dialog input {
	margin: 0.1em;
}

#qma-message-area {
	position: fixed;
	background: #FF8;
	padding: 2em;
	border: 1px solid black;
	top: 0px;
	z-index: 1000;
	width: 400px;
}
